@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  position: relative;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

.form {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.form__row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  -ms-grid-columns: 60% 1fr;
  grid-template-columns: 60% 1fr;
}

.form__button {
  border-radius: 0.625rem;
  background-color: #0982fe;
  color: white;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  padding: 1rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form__label {
  position: relative;
  border-bottom: 0.0625rem solid #8e8e8e;
}

.form__label::before {
  content: "";
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  position: absolute;
  left: 0;
  bottom: -0.0625rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #6de1c2;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form__label:focus-within::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.form__label._input-active .form__placeholder {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0px, -15px);
      -ms-transform: translate(0px, -15px);
          transform: translate(0px, -15px);
  font-size: 0.75rem;
  color: #6de1c2;
  will-change: transform;
}

.form__label._input-active .form__placeholder_area {
  top: -4.5px;
}

.form__label_margin-bottom {
  margin-bottom: 0.3125rem;
}

.form__label._form-error {
  border-bottom: 0.0625rem solid red;
}

.form__label._form-error .form__placeholder {
  color: red;
}

.form__label-file-box {
  color: #8e8e8e;
  letter-spacing: 0.03125rem;
}

.form__label-file {
  position: relative;
  width: 100%;
  height: 6.25rem;
  border-radius: 0.375rem;
  border: 0.0625rem dashed black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__label-file._form-error {
  border: 0.0625rem dashed red;
}

.form__label-file._form-error .form__text-file {
  color: red;
}

.form__label-file._form-error .form__text-file svg path {
  stroke: red;
}

.form__input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.form__text-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__text-file svg {
  width: 1.5rem;
  height: rem(24);
}

.form__file-description {
  font-size: 0.8125rem;
  line-height: 1.3;
  margin-top: 0.625rem;
}

.form__placeholder {
  will-change: transform;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03125rem;
  color: #8e8e8e;
  position: absolute;
  top: 0;
  left: 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: text;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button--fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 0.9375rem;
  height: 1.875rem;
  border: none;
  outline: none;
}

.input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

.input:focus::-moz-placeholder {
  opacity: 0.3;
}

.input:focus:-ms-input-placeholder {
  opacity: 0.3;
}

.input:focus::-ms-input-placeholder {
  opacity: 0.3;
}

.input:focus::placeholder {
  opacity: 0.3;
}

.input._form-focus ~ .form__placeholder {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -0.9375rem);
      -ms-transform: translate(0, -0.9375rem);
          transform: translate(0, -0.9375rem);
  font-size: 0.625rem;
  color: #6de1c2;
  will-change: transform;
  cursor: default;
}

.input._form-focus ~ .form__placeholder_area {
  top: -0.3125rem;
}

textarea.input {
  resize: none;
  width: 100%;
  display: block;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: #6de1c2;
  border: 0.0625rem solid #6de1c2;
  background-image: url("../img/checked.svg"), -webkit-gradient(linear, left top, left bottom, from(#6de1c2), to(#6de1c2));
  background-image: url("../img/checked.svg"), linear-gradient(#6de1c2, #6de1c2);
  background-position: 50% 50%, 0 0;
  background-size: 0.625rem, 0.625rem;
  background-repeat: no-repeat, repeat;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 0.75rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid black;
}

._form-error .checkbox__label::before {
  border: 0.0625rem solid red;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #383c3e;
  line-height: 1.3;
  letter-spacing: 0.03125rem;
}

._form-error .checkbox__text {
  color: red;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.lock .popup__content {
  visibility: visible;
}

.popup__icon {
  max-width: 100%;
}

.popup__icon:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.popup__title {
  font-weight: 700;
  line-height: 1.25;
}

.popup__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.popup__text {
  font-size: 1.125rem;
  line-height: 1.33;
}

.popup__text:not(:last-child) {
  margin-bottom: 2rem;
}

.popup__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 2.5rem;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.625rem;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
  background-color: transparent;
  border: 0.0625rem solid #6de1c2;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

body {
  background: linear-gradient(-45deg, #30b4e3, rgba(109, 225, 194, 0.8392156863), rgba(35, 165, 213, 0.7568627451), #6de1c2);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 250px;
  height: 250px;
  margin: -125px 0 0 -125px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #6de1c2;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #dd5471;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.3);
          box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.3);
  max-width: 90rem;
  margin: 0 auto;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.681);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card__header {
  margin-bottom: 1.875rem;
  font-family: Montserrat;
}

.card__column_right {
  position: relative;
}

.card__title {
  font-size: 2.875rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.03125rem;
}

.card__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.card__title span {
  color: #6de1c2;
}

.card__text {
  line-height: 1.5;
  letter-spacing: 0.00875rem;
}

.card__form:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
  -webkit-column-gap: 3.9375rem;
     -moz-column-gap: 3.9375rem;
          column-gap: 3.9375rem;
  max-width: 78.4375rem;
  margin: 0 auto;
  padding: 2.5rem 4.375rem 2.5rem 4.375rem;
}

.card__map {
  width: 100%;
  height: 100%;
  color: black;
  position: relative;
}

.card__map h3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

.card__map h3:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card__map p {
  font-size: rem(14);
}

.card__map p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.info-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-list__icon {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.75rem;
          flex: 0 0 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.info-list__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-list__body {
  display: -ms-grid;
  display: grid;
  font-family: Montserrat;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.01875rem;
}

.info-list__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.info-list__link {
  color: #dd5471;
}

.card._sending::after {
  visibility: visible;
  opacity: 1;
}

.card._sending #loader {
  display: block;
}

.loading-gif {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/loading.gif") center no-repeat;
  z-index: 2;
  -webkit-transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
  visibility: visible;
  opacity: 1;
}

div .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

div .row i {
  color: #6990f2;
  font-size: 30px;
}

div .details span {
  line-height: 1.3;
  font-size: 14px;
}

div .details span:not(:last-child) {
  margin-bottom: 5px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}

.uploaded-area .row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uploaded-area .row .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
  margin-left: auto;
}

@media (min-width: 37.5625em) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.9375rem 1.25rem;
  }

  .card {
    border-radius: 3.125rem;
  }

  .card::after {
    border-radius: 3.125rem;
  }
}

@media (min-width: 128.5em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }

  .popup__title {
    font-size: 3.125rem;
  }
}

@media (max-width: 75em) {
  .card__content {
    padding: 2.5rem 1.875rem 2.5rem 1.875rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }

  .popup__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 84.375em) {
  .card__content {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 78.125em) {
  .info-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .card__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .card__map {
    height: 18.75rem;
  }
}

@media (max-width: 47.99875em) {
  .form__file-description {
    font-size: 0.625rem;
  }

  .form__placeholder {
    font-size: 0.75rem;
  }

  .form__placeholder_area {
    top: -0.3125rem;
  }

  .checkbox__label {
    gap: 0.5rem;
  }

  .checkbox__text {
    font-size: 0.625rem;
  }

  .popup__close {
    padding: 0.625rem 2.5rem;
  }
}

@media (max-width: 29.99875em) {
  #loader {
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
  }

  .card__header {
    margin-bottom: 0.9375rem;
  }

  .card__title {
    font-size: 1.875rem;
  }

  .card__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .card__text {
    font-size: 0.75rem;
  }

  .card__content {
    padding: 1.25rem;
  }

  .info-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (min-width: 20em) and (max-width: 128.5em) {
@supports (padding-left: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 0 * (100vw - 20rem) / 108.5);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 0 * (100vw - 20rem) / 108.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6445852535rem  +  1.1520737327vw , 3.125rem )) {
    .popup__title {
      font-size: clamp( 1.875rem , 1.6445852535rem  +  1.1520737327vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6445852535rem  +  1.1520737327vw , 3.125rem )) {
    .popup__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 108.5);
    }
}
}

@media (any-hover: hover) {
  .form__button:hover {
    background-color: #084d93;
  }

  .popup__close:hover {
    background-color: #6de1c2;
    color: white;
  }

  .info-list__link:hover {
    text-decoration: underline;
  }
}